.column {
    float: left;
    width: 50%;
    padding: 10px;
    text-align:initial;
    border-top: 5px solid #EEEAE9;
    background: #FFFFFF;
}

/* Clear floats after the columns */
.row:after {
    display: table;
    clear: both;
    width:50%;
}
.area{
	float:right;
}